<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta name="author" content="Darko Bunic"/>
		<meta name="description" content="Drag and drop table content with JavaScript"/>
		<meta name="viewport" content="width=device-width, user-scalable=no"/><!-- "position: fixed" fix for Android 2.2+ -->
		<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
		<!-- <script type="text/javascript" src="/static/header.js"></script> -->
		<script type="text/javascript" src="/static/redips/redips-drag-min.js"></script>
		<script type="text/javascript" src="/static/script.js"></script>
		<title>Dragging table for CHU</title>
	</head>
	<body>
		<center>
		    <form id="upload_form" method="POST" action="/converter/xlsx_to_json">
		        <input type="text" name="sheet" />
		        <input type="file" name="file" />
		        <input type="submit" />
		    </form>
			<!-- tables inside this DIV could contain drag-able content  -->
			<div id="redips-drag">
				<p>Agents</p>
				<table id="agents"></table>
				<br/>
				<table id="planning">
					<tbody>
						<tr id="semaine">
							<td class="redips-rowhandler"></td>
							<td class="redips-rowhandler">Lundi</td>
							<td class="redips-rowhandler">Mardi</td>
							<td class="redips-rowhandler">Mercredi</td>
							<td class="redips-rowhandler">Jeudi</td>
							<td class="redips-rowhandler">Vendredi</td>
							<td class="redips-rowhandler">Samedi</td>
							<td class="redips-rowhandler">Dimanche</td>
						</tr>
						<tr id="matin">
							<td class="redips-rowhandler">M</td>
							<td class="lundi"></td>
							<td class="mardi"></td>
							<td class="mercredi"></td>
							<td class="jeudi"></td>
							<td class="vendredi"></td>
							<td class="samedi"></td>
							<td class="dimanche"></td>
						</tr>
						<tr id="soir">
							<td class="redips-rowhandler">S</td>
							<td class="lundi"></td>
							<td class="mardi"></td>
							<td class="mercredi"></td>
							<td class="jeudi"></td>
							<td class="vendredi"></td>
							<td class="samedi"></td>
							<td class="dimanche"></td>
						</tr>
						<tr id="nuit">
							<td class="redips-rowhandler">N</td>
							<td class="lundi"></td>
							<td class="mardi"></td>
							<td class="mercredi"></td>
							<td class="jeudi"></td>
							<td class="vendredi"></td>
							<td class="samedi"></td>
							<td class="dimanche"></td>
						</tr>
						<tr id="sve">
							<td class="redips-rowhandler">Sve</td>
							<td class="lundi"></td>
							<td class="mardi"></td>
							<td class="mercredi"></td>
							<td class="jeudi"></td>
							<td class="vendredi"></td>
							<td class="samedi"></td>
							<td class="dimanche"></td>
						</tr>
						<tr id="jca">
							<td class="redips-rowhandler">Jca</td>
							<td class="lundi"></td>
							<td class="mardi"></td>
							<td class="mercredi"></td>
							<td class="jeudi"></td>
							<td class="vendredi"></td>
							<td class="samedi"></td>
							<td class="dimanche"></td>
						</tr>
					</tbody>
				</table>
				<button id="previous">Previous</button>
				<button id="next">Next</button>
				<table id="trash">
					<tbody>
						<tr><td class="redips-trash"><b>Poubelle</b></td></tr>
					</tbody>
				</table>
			</div>
		</center>
	</body>
</html>
